<div class="container px-5 py-5">
  <div class="row d-flex align-items-center justify-content-center">
    <h1 class="text-center pseudo_border">Search Results</h1>
  </div>
  <p class="text-end">{{ productCount }} item(s) found!</p>
  <div class="row" *ngIf="products.length != 0; else noItem">
    <div class="col-12 col-md-6 col-lg-3 mb-5" *ngFor="let product of products">
      <app-product [product]="product"></app-product>
    </div>
  </div>
  <ng-template #noItem>
    <p class="text-center">No results found!</p>
  </ng-template>
</div>