
<section style="background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149012404.jpg?w=2000');background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
    
        <div class="justify-content-center col-sm-5 text-black ps-0  bg-white m-5 rounded">
            <div class="px-5 py-4">
            <i class="fas fa-crow fa-2x ms-xl-5 me-4 pt-4 " style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Change Password</span>
            </div>
    
            <form (ngSubmit)="onChangePassword()">
            <div class="d-flex  h-custom-2 ms-xl-5 mt-3 pt-5 pt-xl-0 mt-xl-n5 ps-3">
                <div class="px-3">
                <div class="form-outline mb-4">
                    <div class="form-outline flex-fill mb-0">
                    <input type="password" id="oldpassword" class="form-control" [(ngModel)]="oldpassword" [ngModelOptions]="{standalone: true}"/>
                    <label class="form-label" for="oldpassword">Old Password</label>
                    </div>
                </div>
    
                <div class="form-outline mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <input type="password" id="reoldpassword" class="form-control" [(ngModel)]="reoldpassword" [ngModelOptions]="{standalone: true}"/>
                        <label class="form-label" for="reoldpassword">Repeat Old Password</label>
                    </div>
                </div>
                </div>
    
                <div class="px-3">
                <div class="form-outline mb-4">
                    <div class="form-outline flex-fill mb-0">
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                    <label class="form-label" for="newpassword">New Password</label>
                    </div>
                </div>
    
                <div class="form-outline mb-4">
                    <div class="form-outline flex-fill mb-0">
                    <input type="password" id="repassword" class="form-control" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}"/>
                    <label class="form-label" for="renewpassword">Repeat New Password</label>
                    </div>
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-center me-4 mb-5 mb-lg-4">
                <button (click)="onCancel()" class="btn btn-info btn-lg btn-block m-3 bg-white">Cancel</button>
                <button type="submit" class="btn btn-info btn-lg btn-block m-3">Reset</button>
            </div>

            </form>
            
    
    
        </div>
    
        </div>
    </div>
    </section>
    