<footer class="row">
  <div class="col">
    <div class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"></svg>
    </div>
    <a class="navbar-brand" href="#" style="font-style:italic; font-weight: bold; font-size: 28px; margin: 5px 0px 5px 70px;color: red;">Sunway Mart</a>
    <p class="text-muted"></p>
  </div>

  <div class="col">

  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>
  <div class="container p-2 pb-0">
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
