<footer class="row py-4">
  <div class="col-5">
    <div class="m-4"></div>
    <a class="navbar-brand" href="#" style="font-style:italic; font-weight: bold; font-size: 28px; margin: 10% 20% 5px 40%;color: red;">Sunway Mart</a>
    <p class="text-muted" style="margin: 0% 0% 5px 40%">Your Trusty Online Shopping Mart</p>
  </div>


  <div class="col">
    <h5>Customer Suport</h5>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/register">About Us</a></li>
        <li><a class="dropdown-item" href="#">Find Us</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>
  <div class="container p-2 pb-0">
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Sunway Shared Service Sdn Bhd
  </div>
</footer>