<footer class="container-fluid" *ngIf="!admindetails">
  <div class="row px-5 py-3">
    <div class="col-12 col-md-3 pt-4">
      <a class="navbar-brand" routerLink="/">
        <img src="{{companyLogo}}" alt="Sunway Mart Logo" width="180" height="50">
      </a>
      <p class="text-muted">{{companySlogan}}</p>
     </div>
    <div class="col-12 col-md-3 pt-4">
      <h4>Quick Links</h4>
      <ul>
        <li class="m-0 text-muted"><a routerLink="/">Home</a></li>
        <li class="m-0 text-muted"><a routerLink="/about-us">About Us</a></li>
        <li class="m-0 text-muted"><a routerLink="/contactus">Contact Us</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3 pt-4">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><h4 class="m-0">Address</h4></li>
        <li class="nav-item mb-2">
          <p class="m-0 text-muted">{{ address }}</p>
        </li>
        <li class="nav-item mb-2"><h4 class="m-0">Contact Number</h4></li>
        <li class="nav-item mb-2">
          <p class="m-0 text-muted">&#9743; {{ contactNum }}</p>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-3 pt-4">
      <h4>Payment Method</h4>
      <ul class="nav flex-column payment">
        <li class="nav-item mb-2">
          <img
          class="m-1"
          src="{{paymentOption}}"
          alt="Visa"
          width="180"
          height="60"
        />
          <!-- <img
            class="m-1"
            src="https://publish-p35803-e190640.adobeaemcloud.com/content/dam/aem-cplotusonlinecommerce-project/my/images/medias/logo/master-card-logo.svg"
            alt="MasterCard"
          />
          <img
            class="m-1"
            src="https://publish-p35803-e190640.adobeaemcloud.com/content/dam/aem-cplotusonlinecommerce-project/my/images/medias/logo/visa-logo.svg"
            alt="Visa"
          />
          <img
            class="m-1"
            src="https://publish-p35803-e190640.adobeaemcloud.com/content/dam/aem-cplotusonlinecommerce-project/my/images/medias/logo/touch-logo.svg"
            alt="Touch 'n go ewallet"
          /> -->
        </li>
      </ul>
    </div>
   
  </div>
  <div class="row">
    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(239, 234, 234)"
    >
      Copyright © {{currentYear}} JJ Mart. All Rights Reserved
    </div>
  </div>
</footer>
