<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-content">
      <h1 class="mb-5 title-shadow" [ngStyle]="{ 'font-size': '80px' }">Sunway Mart</h1>
      <h4>We will deliver your groceries to you</h4>
      <button mat-raised-button color="danger">Shop Now</button>
    </div>
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        src="https://images.unsplash.com/photo-1534723452862-4c874018d66d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="https://images.unsplash.com/photo-1553546895-531931aa1aa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- category section -->
<div class="container my-5">
  <div class="row mb-4">
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">This is a title</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--banner -->
<div class="home-banner-section">
  <div class="container-fluid d-flex justify-content-end align-items-center banner-content">
    <div class="row">
      <div class="col-9 offset-3">
        <h1 class="banner-title">Join to become a member today!</h1>
        <button mat-raised-button color="warn" class="mb-3">
        Sign Up Now
        </button>
      </div>
    </div>
  </div>
</div>

<!--Featured products-->
<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-3 text-left my-3" *ngFor="let product of products">
      <a routerLink="/product-details/{{ product.id }}">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="{{ product.image }}"
            width="200"
            height="200"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h3 class="fw-bold">
              {{ product.name}}
            </h3>
            <mat-card-subtitle>RM{{ product.price }} /{{product.unit}}</mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="warn" class="mb-3">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                [ngStyle]="{ color: 'white' }"
                >shopping_cart</mat-icon
              >Add to Cart
            </button>
          </mat-card-actions>
        </mat-card>
      </a>
    </div>
  </div>
</div>

