<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let banner of firstImage"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 0"
    ></button>
    <button *ngFor="let count of images ; index as i"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      [attr.data-bs-slide-to] = "i+1"
      attr.aria-label="Slide i+1"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-content">
      <h1 class="mb-5 title-shadow"*ngFor="let banner of firstImage">{{banner.title}}</h1>
      <h3>We deliver your groceries to you</h3>
      <button mat-raised-button color="danger" (click)="scroll()" class="mt-3">Shop Now</button>
    </div>
    <div class="carousel-item active" data-bs-interval="5000">
      <img *ngFor="let banner of firstImage"
        src="{{banner.image}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000" *ngFor="let banner of images">
      <img
        src='{{banner.image}}'
        class="d-block w-100"
        alt="..."
      />
    </div>
    
    
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- category section -->
<div class="container my-5">
  <div class="row">
    <h1 id="fav" class="text-center pseudo_border">Find your favourite products with us</h1>
    <div class="col-lg-4 mb-5" *ngFor="let category of categories">
      <div class="category">
        <div class="content">
          <a routerLink="/category/{{category.name | lowercase}}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{category.image}}" height="250">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{category.name}}</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!--banner -->
<div class="home-banner-section"  *ngFor="let image of homepagenoticeImage" style="background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('{{image.image}}')">
  <div class="container-fluid d-flex justify-content-end align-items-center banner-content">
    <div class="row">
      <div class="col-9 offset-3">
        <h1 class="banner-title">{{image.title}}</h1>
        <button routerLink="/register" mat-raised-button color="warn" class="mb-3 signup-btn">
        Sign Up Now
        </button>
      </div>
    </div>
  </div>
</div>

<!--Featured products-->
<div class="container my-5 px-5">
  <div class="row d-flex align-items-center justify-content-center">
    <h1 class="text-center pseudo_border">This week's featured products</h1>
    <div class="col-6 col-lg-3 text-left" *ngFor="let product of featProducts">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
<!-- <div class="newsletter py-5 mb-3">
  <div class="container w-50">
    <div class="row text-center">
      <h1>Subscribe</h1>
    </div>
    <div class="row text-center pb-2">
      <p>Subscribe to our newsletter to stay updated every moment</p>
    </div>
    <div class="input-group">
      <input type="text" placeholder="Enter your email address" class="form-control">
      <button class="btn btn-dark" type="button">Submit</button>
    </div>
  </div>
</div> -->

