<h1 class="page-title text-center background-overlay" style="padding-top: 140px;padding-bottom: 140px;" 
*ngFor="let image of images" style="background-image: url('{{image.image}}')">{{image.title}}</h1>
<div class="container">
    <div class="row m-2">
        <div class="col-lg-6 py-3">
            <iframe [src]="googleMaps|safe" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6" id="contactdetailscontainer">
            <div class="contactdetails m-0">
                <div class="iconcontainer">
                    <i class="material-icons" style="font-size: 50px;">place</i>
                </div>
                <p style="margin:8px;font-size:16px">
                    <strong style="font-size:20px">Address</strong><br>
                    {{address}}
                </p>
            </div>
            <div class="contactdetails m-0">
                <div class="iconcontainer">
                    <i class="material-icons" style="font-size: 50px;">phone</i>
                </div>
                <p style="margin:8px;font-size:16px">
                    <strong style="font-size:20px">Contact Number</strong><br>
                    {{contactNum}}
                </p>
            </div>
            <div class="contactdetails m-0">
                <div class="iconcontainer">
                    <i class="material-icons" style="font-size: 50px;">email</i>
                </div>
                <p style="margin:8px;font-size:16px">
                    <strong style="font-size:20px">Email</strong><br>
                    {{email}}
                </p>
            </div>
            <div class="contactdetails m-0">
                <div class="iconcontainer">
                    <i class="material-icons" style="font-size: 50px;">alarm</i>
                </div>
                <p style="margin:8px;font-size:16px">
                    <strong style="font-size:20px">Business Hours</strong><br>
                    {{businessHours}}
                </p>
            </div>
        </div>
    </div>
</div>
   
