<div class="about-us-banner text-center d-flex justify-content-center align-items-center">
  <span class="about-us-title">About Us</span>
</div>
<div class="container px-5 my-5">
  <p class="about-us-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptate eius amet! Natus officia ut praesentium saepe debitis vitae animi porro corrupti error illum maxime voluptas vero asperiores, molestias doloribus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, eos? Tempora temporibus minima illo sed quo quidem aut eligendi quae explicabo, accusamus architecto recusandae. Fugiat dignissimos ex perferendis nobis totam.</p>
</div>
<div class="container">
  <div class="row text-center">
   <h1 class="fw-bold">Benefits</h1>
  </div>
  <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex justify-content-center align-items-center">
      <mat-card-title class="fw-bold">Easy Account Access</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
      <img mat-card src="../../assets/Benefit-1.png"  width="400" height="200" >
    </mat-card-title-group>
  </mat-card>

  <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex justify-content-center align-items-center">
      <img mat-card src="../../assets/Benefit-2.png"  width="400" height="200" >
      <mat-card-title class="fw-bold">Exclusive promotions & personalized coupons</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>

  <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex justify-content-center align-items-center">
      <img mat-card src="../../assets/Benefit-6.png"  width="400" height="200" >
      <mat-card-title class="fw-bold">Birthday Rewards</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>

</div>
