<div class="about-us-banner text-center d-flex justify-content-center align-items-center" *ngFor="let image of images"
 style="background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('{{image.image}}');
">
  <span class="about-us-title">{{image.title}}</span>
</div>
<div class="container px-5 py-5">

  <div class="row">
    <div class="col-lg-4">
      <img src="{{aboutUsImage}}" alt="About Us Image" class="img-fluid">
    </div>
    <div class="col-lg-8">
      <p class="about-us-intro">{{aboutUsInfo_1}}</p>
      <br>
      <p class="about-us-intro">{{aboutUsInfo_2}}</p>
    </div>
  </div>







  <!-- <div class="text-center">
    <img src="{{aboutUsImage}}" alt="cart image" width="500" height="300">
    <p class="about-us-intro my-3">{{aboutUsInfo}}</p>
  </div> -->
  

  <!-- <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex align-items-center">
      <mat-card-title class="fw-bold">Easy Account Access</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
      <img mat-card src="../../assets/Benefit-1.png"  width="400" height="200" >
    </mat-card-title-group>
  </mat-card>

  <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex align-items-center">
      <img mat-card src="../../assets/Benefit-2.png"  width="400" height="200" >
      <mat-card-title class="fw-bold">Exclusive promotions & personalized coupons</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>

  <mat-card class="benefits-card mb-4">
    <mat-card-title-group class="d-flex align-items-center">
      <img mat-card src="../../assets/Benefit-6.png"  width="400" height="200" >
      <mat-card-title class="fw-bold">Birthday Rewards</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam dolorum tempore</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card> -->

</div>
