.about-us-banner{
  height: 40vh; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center ;
}

.about-us-title{
  font-size:50px;
  color:white;
}

.about-us-intro{
  font-size: 18px;
  line-height: 1.6;
}

 .benefits-card{
    padding-left: 10%;
 }
@media screen and (max-width: 900px) {
  .pic{
    height: 70%;
    width: 70%;
  }
}
