.category-banner{
  height: 40vh; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center ;
}

.category-title{
  font-size:50px;
  color:white;
}
