<div class="pop-up-container px-2 py-2">
  <div class="container" *ngIf="cartData.length != 0; else noItem">
    <div class="container">
      <div
        class="row d-flex align-items-center justify-content-center"
        *ngFor="let cartItem of cartData"
      >
        <div class="col-3">
          <img src="{{ cartItem.image }}" alt="pic" width="120" height="100" />
        </div>
        <div class="col-3 px-5">
          <p>{{ cartItem.name }}</p>
        </div>
        <div class="col-3">
          <p>x {{ cartItem.quantity }}</p>
        </div>
        <div class="col-3">
          <p>RM{{ cartItem.discountedPrice!=0 ? cartItem.discountedPrice: cartItem.price }}</p>
        </div>
        <hr class="my-3" />
      </div>
    </div>
    <div class="row">
      <div class="col-8"></div>
      <span class="col-3 fw-bold">Total: RM {{ grandTotal }}</span>
    </div>

    <div class="my-3">
      <div class="row">
        <div class="col">
          <button
          class="btn btn-danger w-100"
          routerLink="/viewcart"
          type="button"
          id="button-addon2"
        >
          View Cart
        </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noItem>
    <p class="text-center px-3">Your cart is empty!</p>
  </ng-template>
</div>
