<div class="pop-up-container px-2 py-2">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-3">
        <img
          src="https://images.unsplash.com/photo-1607305387299-a3d9611cd469?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="pic"
          width="120"
          height="100"
        />
      </div>
      <div class="col-6">
        <p>Name of the product</p>
      </div>
      <div class="col-3">
        <p>RM100</p>
      </div>
    </div>
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-3">
        <img
          src="https://images.unsplash.com/photo-1607305387299-a3d9611cd469?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="pic"
          width="120"
          height="100"
        />
      </div>
      <div class="col-6">
        <p>Name of the product</p>
      </div>
      <div class="col-3">
        <p>RM100</p>
      </div>
    </div>
    <hr />
  </div>
  <span class="fw-bold">Subtotal: RM500</span>
  <div class="my-3">
    <button
      class="btn btn-danger px-5 mx-5"
      routerLink="/viewcart"
      type="button"
      id="button-addon2"
    >
      View Cart
    </button>
    <button class="btn btn-danger px-5 mx-5" type="button" id="button-addon2">
      Checkout
    </button>
  </div>
</div>
