<div class="container">

  <div class="row">
    <div class="col-md-7">
      <img src="{{product.image}}" height="500" width="700" alt="Photo of a Shiba Inu">
    </div>
    <div class="col-md-5">
      <h1>{{product.name}}</h1>
      <h1 *ngIf="product.discountedPrice ==null">RM{{product.price}}</h1>
      <div *ngIf="product.discountedPrice !=null">
        <h1 class="d-inline promo-price">RM{{product.discountedPrice}}</h1>
        <h3 class="d-inline old-price">RM{{product.price}}</h3>
      </div>
      <div class="my-3">
        <p>{{product.description}}</p>
      </div>
      <div class="input-group mb-3 w-25">
        <span class="input-group-text">+</span>
        <input type="number" class="form-control item-quantity text-center" min="1" id="quantity" value="1" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">-</span>
      </div>
      <button mat-raised-button color="warn" class="mb-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          [ngStyle]="{ color: 'white' }"
          >shopping_cart</mat-icon
        >Add to Cart
      </button>
    </div>
  </div>
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Reviews"> Reviews </mat-tab>
      <mat-tab label="Additional Info"> Additional Info </mat-tab>
    </mat-tab-group>

  </div>

</div>




