<div class="container my-5">
  <div class="row" *ngIf="product != null">
    <div class="col-md-6 col-lg-7">
      <img
        src="{{ product.image }}"
        class="img-fluid"
        alt="Photo of {{ product.image }}"
      />
    </div>
    <div class="col-md-6 col-lg-5">
      <h1>{{ product.name }}</h1>
      <h1 *ngIf="product.discountedPrice == 0">RM{{ product.price }}</h1>
      <div *ngIf="product.discountedPrice != 0">
        <h1 class="d-inline promo-price">RM{{ product.discountedPrice }}</h1>
        <h3 class="d-inline old-price">RM{{ product.price }}</h3>
      </div>
      <div class="my-3">
        <p>{{ product.description }}</p>
      </div>
  
      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <button
              class="btn btn-outline-secondary"
              id="add"
              type="button"
              (click)="add(product)"
            >
              +
            </button>
            <input
              type="text"
              class="form-control text-center"
              placeholder="{{product.quantity}}"
            />
            <button
              class="btn btn-outline-secondary"
              id="minus"
              type="button"
              (click)="minus(product)"
            >
              -
            </button>
          </div>
        </div>
        <div class="col-8">
          <button *ngIf="userdetails!= null; else notLoggedIn"
          class="btn btn-outline-danger w-100"
          type="button"
          (click)="[addToCart(product), openSnackBarAddCart('message', 'Close')]"
        >
          Add to Cart
        </button>

        <ng-template #notLoggedIn>
          <button
          class="btn btn-outline-danger w-100"
          type="button"
          (click)="openSnackBarSignIn('message', 'Sign in now')"
        >
          Add to Cart
        </button>
        </ng-template>

        </div>
      </div>
      <div class="row">
        
      </div>
    
    </div>
  </div>
  <!-- <div class="row my-3">
    <mat-tab-group>
      <mat-tab label="Reviews"> Reviews </mat-tab>
      <mat-tab label="Additional Info"> Additional Info </mat-tab>
    </mat-tab-group>
  </div> -->
  <hr>
  <div class="row my-3">
    <h3 class="fw-bold">Recommended products</h3>
      <div class="col-12 col-md-6 col-lg-3 text-left mb-5" *ngFor="let product of categoryProducts">
        <app-product [product]="product" *ngIf="categoryProducts.length<=4"></app-product>
      </div>
  </div>
</div>
