<div class="container">
  <h1 class="d-inline">Manage Company Profile</h1>
  <form class="border px-5 py-5">
    <div class="mb-3">
      <label for="image" class="form-label">Company logo</label>
      <input class="form-control" type="file" id="image" />
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">About Us Image</label>
        <input class="form-control" type="file" id="image" />
      </div>

    <div class="mb-3">
      <label for="about-us" class="form-label">About Us Info</label>
      <textarea class="form-control" id="about-us" rows="3"></textarea>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        placeholder="Address"
      />
    </div>

    <div class="mb-3">
      <label for="contact-number" class="form-label">Contact Number</label>
      <input
        type="text"
        class="form-control"
        id="contact-us"
        placeholder="0123456"
      />
    </div>

    <div class="mb-3">
      <label for="contact-number" class="form-label">Google Maps</label>
      <input
        type="text"
        class="form-control"
        id="contact-us"
        placeholder="Embed code"
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="contact-us"
        placeholder="sunwaymart@gmail.com"
      />
    </div>

    <div class="mb-3">
      <label for="business-hours" class="form-label">Business Hours</label>
      <input
        type="text"
        class="form-control"
        id="contact-us"
        placeholder="Monday to Sunday: 8.00am to 10.00pm"
      />
    </div>

    <div>
      <button type="submit" class="btn btn-danger mb-3">Save Changes</button>
    </div>
  </form>
</div>
