<div class="container">
  <h1 class="d-inline manage-title">Manage Company Profile</h1>
  <form class="border px-5 py-5">
    <div class="mb-3">
      <label for="companyLogo" class="form-label">Company logo</label>
      <input
        class="form-control"
        type="file"
        id="companyLogo"
        (change)="fileChangedLogo()"
      />
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Company slogan</label>
      <input
        type="text"
        class="form-control"
        id="companySlogan"
        placeholder="companySlogan"
        [(ngModel)]="companySlogan"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="mb-3">
      <label for="paymentOptionImage" class="form-label">Payment Option</label>
      <input
        class="form-control"
        type="file"
        id="paymentOptionImage"
        (change)="fileChangedPaymentOption()"
      />
    </div>
    
    <div>
      <button
        type="submit"
        class="btn btn-danger mb-3"
        (click)="updateCompanyDetails()"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
