table{
    width: 100% !important;
}
.fa-eye, .fa-eye-slash, .fa-pencil-alt, .fa-trash{
    cursor: pointer;
}   

.fa-eye:hover, .fa-eye-slash:hover{
    color:rgb(98, 96, 96);
}

.fa-pencil-alt:hover{
    color: blue;
}

.fa-trash:hover{
    color: red;
}

.manage-title{
    font-size: calc(.5 * (3.8vh + 1.1vw));
}


@media only screen and (max-width: 780px){
  
   img{
     width: 70px;
     height: 70px;
   }
 
   .mat-cell{
     font-size: 10px;
   }
 
 }