<div class="container">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Product Details</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">
          <div class="row d-flex align-items-center">
            <div class="col-sm-5">
              <img src="https://images.unsplash.com/photo-1552825897-bb5efa86eab1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="pic" width="150" height="150">
            </div>
            <div class="col-sm-7">
              <p>Cabbage</p>
              <p>RM120</p>
            </div>
          </div>
        </td>
        <td class="align-middle" id="quantity">
          <div class="input-group">
            <button class="btn btn-outline-secondary" id="add" type="button" (click)="addFunction()">+</button>
            <input type="text" class="form-control text-center" id="quantityValue" placeholder="1">
            <button class="btn btn-outline-secondary" id="minus" type="button" (click)="minusFunction()">-</button>
          </div>
        </td>
        <td class="text-center align-middle" id="total">100</td>
        <td class="text-center align-middle"><i class="fa fa-trash trash-icon" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-primary">Continue Shopping</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-outline-primary float-end">Checkout</button>
    </div>
  </div>
</div>

