<div class="card shadow pb-3">                    
  <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Revenue Sources (Categories)</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" (click)="piechartdropdowntoggle()" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" id="pie-chart-dropdown"
            aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Action:</div>
            <a class="dropdown-item" (click)="changepieColor()">Change Color</a>
            <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
  </div>
 
  <div class="card-body">
    <div>
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [type]="doughnutChartType">
        </canvas>
      </div>
    </div>
</div>