<div class="container">
    <h1>Update Banner</h1>
    <div class="row">
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="carousel-title" class="form-label">Target Page</label>
                <select type="text" class="form-control" id="page" placeholder="Carousel title" [(ngModel)]="page" [ngModelOptions]="{standalone: true}" required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value=homepage>Homepage</option>
                    <option value=contact-us>Contact Us</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="carousel-title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Carousel title"[(ngModel)]="title" [ngModelOptions]="{standalone: true}"/>
            </div>

            <div class="mb-3">
                <label for="formFile1" class="form-label">Image</label>
                <input class="form-control" type="file" id="image" [(ngModel)]="image" [ngModelOptions]="{standalone: true}"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
    
        </form>

    </div>
    
   

    
</div>