
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a *ngIf="status !='admin'" class="navbar-brand" routerLink="/">
      <img src="{{this.companyLogo}}" alt="Sunway Mart Logo" width="180" height="40">
    </a>
    <a *ngIf="status =='admin'" class="navbar-brand" routerLink="/admin">
      <img src="{{this.companyLogo}}" alt="Sunway Mart Logo" width="180" height="40">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!--cart-->
     <div *ngIf="admindetails==null"  class="mx-4 cart-icon pt-2 mobile-cart">
      <mat-icon matBadge={{cartItemCounter}} matBadgeColor="warn" [matMenuTriggerFor]="menu">shopping_cart</mat-icon>
      <mat-menu #menu="matMenu">
       <app-mini-cart></app-mini-cart>
      </mat-menu>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          This is a shopping cart
        </span>
    </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a *ngIf="status !='admin'" class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="status !='admin'" class="nav-link" aria-current="page" routerLink="/about-us">About Us</a>
          </li>

          <li class="nav-item dropdown">
            <a *ngIf="status !='admin'" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul *ngIf="status !='admin'" class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li *ngFor="let category of categories">
                <a class="dropdown-item" routerLink="/category/{{category.name | lowercase}}">{{category.name}}</a>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a *ngIf="admindetails!=null" class="nav-link" routerLink="/admin">Admin Panel</a>
          </li> -->
          <li *ngIf="status !='admin'"  class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/contactus">Contact Us</a>
          </li>
        </ul>
        <app-search *ngIf="status !='admin'"  class="searchbox"></app-search>
       <!--cart-->
        <div *ngIf="status !='admin'"  class="mx-4 cart-icon pt-2 main-cart">
          <mat-icon matBadge={{test}} matBadgeColor="warn" [matMenuTriggerFor]="menu">shopping_cart</mat-icon>
          <mat-menu #menu="matMenu">
           <app-mini-cart></app-mini-cart>
          </mat-menu>
            <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden">
              This is a shopping cart
            </span>
        </div>
        <div class="nav-item dropdown text-muted">
          <a href="#" class="d-flex nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons m-1" style="font-size: 22px;">account_circle</i>
            <div class = "me-auto text-muted dropdown-toggle" style="align-self :center; font-size: 18px;">
            {{name}}
          </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <li *ngIf="userdetails ==null && admindetails ==null"><a class="dropdown-item" routerLink="/register">Register</a></li>
            <li *ngIf="userdetails ==null &&admindetails==null"><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
            <li *ngIf="userdetails !=null &&admindetails==null"><a class="dropdown-item" routerLink="/manageaccount">Account Settings</a></li>
            <li *ngIf="userdetails !=null && admindetails==null"><a class="dropdown-item" routerLink="/orderhistory">Order History</a></li>
            <li *ngIf="userdetails!=null &&admindetails!=null"><hr class="dropdown-divider"></li>
            <li *ngIf="userdetails!=null ||admindetails!=null"><a class="dropdown-item" (click)="onLogout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
   
  </nav>
