
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="font-style:italic; font-weight: bold; font-size: 28px; margin: 5px 15px 5px 15px;color: red;">Sunway Mart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about-us">About Us</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/category/vegetables & fruits">Vegetables & Fruits</a></li>
              <li><a class="dropdown-item" routerLink="/category/meat">Meat</a></li>
              <li><a class="dropdown-item" routerLink="/category/dairy">Dairy</a></li>
              <li><a class="dropdown-item" routerLink="/category/noodles">Noodles</a></li>
              <li><a class="dropdown-item" routerLink="/category/biscuits & cakes">Biscuits & Cakes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a *ngIf="privilege == 1" class="nav-link" routerLink="/admin">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/contactus">Contact Us</a>
          </li>
        </ul>
        <app-search class="searchbox"></app-search>
       <!--cart-->
        <div class="mx-4 cart-icon">
          <mat-icon matBadge={{cartItemCounter}} matBadgeColor="warn" [matMenuTriggerFor]="menu">shopping_cart</mat-icon>
          <mat-menu #menu="matMenu">
           <app-mini-cart></app-mini-cart>
          </mat-menu>
            <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden">
              This is a shopping cart
            </span>
        </div>
        <div class="nav-item dropdown text-muted">
          <a href="#" class="d-flex nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons m-1" style="font-size: 22px;">account_circle</i>
            <div class = "me-auto text-muted dropdown-toggle" style="align-self :center; font-size: 18px;">
            {{name}}
          </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li *ngIf="userdetails ==null"><a class="dropdown-item" routerLink="/register">Register</a></li>
            <li *ngIf="userdetails ==null"><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
            <li *ngIf="userdetails !=null"><a class="dropdown-item" routerLink="/manageaccount">Account Settings</a></li>
            <li *ngIf="userdetails!=null"><hr class="dropdown-divider"></li>
            <li *ngIf="userdetails!=null"><a class="dropdown-item" (click)="onLogout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
