.cart-icon{
    cursor: pointer;
}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.searchbox{
    width: 30% !important;
}

.mobile-cart{
    display: none;
}


@media only screen and (max-width: 980px){
.mobile-cart{
    display: block;
}

.main-cart{
    display: none;
}

.navbar-toggler{
    margin-left: 28%;
        
}
}
  