
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-style:italic; font-weight: bold; font-size: 28px; margin: 5px 15px 5px 5px;color: red;">Sunway Mart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a routerLink="/all-products" aria-current="page" href="#">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
              <li><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex me-auto" style="width:30%">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="#" class="me-auto text-muted">
          <div class="material-icons" style="font-size: 40px;">shopping_cart</div>
        </a>
        <a href="#" class="me-auto text-muted d-flex" style="text-decoration: none">
          <i class="material-icons" style="font-size: 25px;">account_circle</i>
          <div class = "me-auto text-muted" style="align-self :center; font-size: 22px;"> 
          {{name}}
        </div>
        </a>
      </div>
    </div>
  </nav>
