<mat-card class="product-card z-depth mb-3">
  <a routerLink="/product-details/{{ product.id }}">
    <img
      mat-card-image
      src="{{ product.image }}"
      width="200"
      height="200"
      alt="Photo of {{ product.image }}"
    />
  </a>
  <mat-card-content>
    <div class="d-inline pb-5"> 
      <h3 >
        {{ product.name }}
      </h3>
    </div>

    <button *ngIf="userdetails!= null; else notLoggedIn"
      class="d-inline float-end"
      mat-fab
      color="warn"
      aria-label="Add to cart button"
      (click)="[addToCart(product), openSnackBarAddCart('message', 'Close')]"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <ng-template #notLoggedIn>
      <button
      class="d-inline float-end"
      mat-fab
      color="warn"
      aria-label="Add to cart button"
      (click)="openSnackBarSignIn('message', 'Close')"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
    </ng-template>

    <mat-card-subtitle class="pb-5"
      >RM{{ product.price }} /{{ product.unit }}</mat-card-subtitle
    >
  </mat-card-content>
</mat-card>
