a{
  text-decoration: none;
}

.z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
}


@media only screen and (max-width: 900px){
  .product-card img{
    height: 300px;
  }

}

