<a routerLink="/product-details/{{ product.id }}">
  <mat-card class="example-card">
    <img
      mat-card-image
      src="{{ product.image }}"
      width="200"
      height="200"
      alt="Photo of {{ product.image }}"
    />
    <mat-card-content>
      <h3 class="fw-bold">
        {{ product.name }}
      </h3>
      <mat-card-subtitle
        >RM{{ product.price }} /{{ product.unit }}</mat-card-subtitle
      >
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button mat-raised-button color="warn" class="mb-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          [ngStyle]="{ color: 'white' }"
          >shopping_cart</mat-icon
        >Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</a>
