<div class="container">
    <h1 class="d-inline manage-title">Manage Contact Us</h1>
    <form class="border px-5 py-5">
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Address"
          [(ngModel)]="address"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
  
      <div class="mb-3">
        <label for="contactNum" class="form-label">Contact Number</label>
        <input
          type="text"
          class="form-control"
          id="contactNum"
          placeholder="0123456"
          [(ngModel)]="contactNum"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
  
      <div class="mb-3">
        <label for="googleMaps" class="form-label">Google Maps</label>
        <input
          type="text"
          class="form-control"
          id="googleMaps"
          placeholder="Embed code"
          [(ngModel)]="googleMaps"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="sunwaymart@gmail.com"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
  
      <div class="mb-3">
        <label for="businessHours" class="form-label">Business Hours</label>
        <input
          type="text"
          class="form-control"
          id="businessHours"
          placeholder="Monday to Sunday: 8.00am to 10.00pm"
          [(ngModel)]="businessHours"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
  
      <div>
        <button type="submit" class="btn btn-danger mb-3" (click)="updateContactUsDetails()">Save Changes</button>
      </div>
    </form>
  </div>
  