
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion h-100" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">JJ Mart Admin</div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="./">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->

    <!-- Nav Item - Pages Collapse Menu
    <li class="nav-item">
        <div id="collapseComponentsheader" class="nav-link collapsed" style="cursor: pointer;" (click)="toggleComponents()" data-toggle="collapse" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Components</span>
        </div>
        <div id="collapseComponents" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li> -->

    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- <li class="nav-item">
        <div id="collapseUtilitiesheader" class="nav-link collapsed" style="cursor: pointer;" (click)="toggleUtilities()" data-toggle="collapse" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </div>
        <div id="collapseUtilities" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Manage Sunway Mart
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <div id="collapsePagesheader" class="nav-link collapsed" style="cursor: pointer;" (click)="togglePages()" data-toggle="collapse" >
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </div>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage</h6>
                <a class="collapse-item" routerLink="./manageproduct">Manage Products</a>
                <a class="collapse-item" routerLink="./manageuser">Manage Users</a>
                <a class="collapse-item" routerLink="./managecategories">Manage Categories</a>
                <a class="collapse-item" routerLink="./manage-images">Manage Images</a>
                <a class="collapse-item" routerLink="./manage-company-profile">Manage Company Profile</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            </div>
        </div>
    </li> -->

    <li class="nav-item">
        <a class="nav-link" routerLink="./manageproduct">
            <i class="fas fa-fw fa-gift"></i>
            <span>Manage Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./manageuser">
            <i class="fas fa-fw fa-user"></i>
            <span>Manage Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./managecategories">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Manage Categories</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./manage-images">
            <i class="fas fa-fw fa-file-image"></i>
            <span>Manage Images</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./manage-company-profile">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Manage Company Profile</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./manage-about-us">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Manage About Us</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./manage-contact-us">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Manage Contact Us</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="forgot-password.html">
            <i class="fas fa-fw fa-question"></i>
            <span>Forgot Password</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" routerLink="./manageadmin">
            <i class="fas fa-fw fa-user"></i>
            <span>Manage Admin</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->
<!-- Content Wrapper -->
