table{
    width: 100% !important;
}

.fa-eye, .fa-eye-slash, .fa-pencil-alt, .fa-trash{
    cursor: pointer;
}   

.fa-eye:hover, .fa-eye-slash:hover{
    color:rgb(98, 96, 96);
}

.fa-pencil-alt:hover{
    color: blue;
}

.fa-trash:hover{
    color: red;
}

.mat-elevation-z8 {    
    overflow-x: auto;
   }


@media only screen and (max-width: 780px){
   .example-container {
    max-width: 100%;
    overflow-x: auto;
  }

  img{
    width: 70px;
    height: 70px;
  }

  .mat-cell{
    font-size: 10px;
  }

}