json-server --watch db.json
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 text-black" style="padding-left: 8%;">
        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-4 " style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Register an Account</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem; margin-left: 6%;" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4">
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="name" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="name">Your Name</label>
              </div>
            </div>

            <div class="form-outline mb-4">
                <div class="form-outline flex-fill mb-0">
                  <input type="text" id="username" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
                  <label class="form-label" for="name">Your Username</label>
                </div>
            </div>

            <div class="form-outline mb-4">
              <div class="form-outline flex-fill mb-0">
                <input type="email" id="email" class="form-control"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="email">Your Email</label>
              </div>
            </div>

            <div class="form-outline mb-4">
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="password">Password</label>
              </div>
            </div>

            <div class="form-outline mb-4">
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="repassword" class="form-control" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="repassword">Repeat your password</label>
              </div>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn btn-info btn-lg btn-block">Register</button>
            </div>

            <p style="margin:0 15% 10px 15%">Already have a account? 
              <a routerLink="/signin">Sign in here</a>
            </p>
          </form>
          

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://images.unsplash.com/photo-1553075712-453f7213c24f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>